{% extends "events/base.html" %}

{% block content %}
{% if user.is_authenticated %}
   {% if user == event_data.manager %}
   <h1> Update Event </h1>
   <br>
   <form action="" method=POST>
       {% csrf_token %}
       {{form.as_p}}
       <input type="submit" value="update" class="btn btn-secondary">
    {%else%}
    <h2>Access Denied!!</h2>
    <h2>Only the Event Manager can update this event!!</h2>
    Logged In User: {{user}}
    <br>
    Event Manager: {{event_data.manager}}
    {%endif%}

</form>


{%else%}
<h1>Sorry ! You are not logged In To View This Page...</h1>
<a href="{% url 'login' %}">Login Here</a>
{%endif%}

{%endblock%}